@model IEnumerable<CarRegistry.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h4>Car registry</h4>
<hr />
<p>
    
</p>
<table class="table table-hover" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnginePower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCylinders)
            </th>
            <th><a class="btn btn-outline-success font-weight-bold float-md-right" asp-action="AddOrEdit" asp-controller="Car"><i class="far fa-plus-square "></i> Add new car</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnginePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCylinders)
            </td>
            
            <td>
                <div class="btn"><a asp-action="AddOrEdit" asp-route-id="@item.CarId" style="color:green"><i class="fa fa-marker fa-lg"></i></a></div> |
                <div class="btn"><a asp-action="Delete" asp-route-id="@item.CarId" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a></div>
            </td>
        </tr>
}
    </tbody>
</table>
